* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
body {
  background-color: rgb(8, 27, 41);
  color: white;
}
/* #nav-page{
     background-color: rgb(8, 27, 41);
} */
header {
  position: fixed;
  width: 100%;
  padding: 1rem 10rem;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  position: relative;
  font-size: 1.75rem;
  text-decoration: none;
  color: white;
  cursor: default;
  opacity: 0;
  animation:slideRight 1s ease forwards;
  transition: all 0.3s ease; /* Smooth transition */
}

.logo:hover {
  color: #0ef; /* Change color on hover */
  box-shadow: 0 0 50px #0ef; /* Enhance shadow on hover */
  transform: scale(1.1); /* Slightly enlarge the logo on hover */
}
/* animation for logo */
@keyframes slideRight {
    0%{
        transform:translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.navbar a {
  display: inline-block;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 1.75rem;
  transition: 0.3s;
  opacity:0;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
}
.navbar a:hover {
  color: #0ef;
}
/* animation for navbar a */
@keyframes slideTop {
    0%{
        transform:translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background: url(images/backgroung-img.png); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10rem;
  /* max-width: 1300px; */
}
.img1 {
  position: relative;
  height: 320px;
  width: 305px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan,
  0 0 50px cyan,
  0 0 200px cyan;
}
.home-content h3 {
  font-size: 1.25rem;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease .7s forwards;
}

/* animation for home-content h3 element */
@keyframes slideBottom {
    0%{
        transform:translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.home-content h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0.1 1rem;
  animation: slideRight 1s ease 1s forwards;
}
/* animation for home-content h1 element */
@keyframes slideRight {
    0%{
        transform:translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.home-content h3 span{
    color:#0ef;
}
.home-content p {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
  animation: slideLeft 1s ease 1s forwards;
}

@keyframes slideLeft {
    0%{
        transform:translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.home-content h3:nth-of-type(2){
    animation: slideTop 1s ease .7s forwards;
}

.home-link a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 1.25rem;
  color: #0ef;
  text-decoration: none;
  margin: 1.5rem 0.75rem 1.5rem 0;
  transition:.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s*var(--i)
  );
}
.home-link a:hover {
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}
.btn-box {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #0ef;
  border-radius: 2rem;
  font-size: 1rem;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 0 5px #0ef,
              0 0 25px #0ef;
  animation: slideTop 1s ease 2s forwards;
}

.btn-box:hover{
    box-shadow: 0 0 5px cyan,
                0 0 25px cyan,
                0 0 50px cyan,
                0 0 200px cyan;
}
/* ABOUT */
.about{
display: grid;
grid-template-columns: repeat(2,1fr);
align-items: center;
gap: 1.5rem;
}
.about-img img{
    position: relative;
    height: 320px;
    width: 305px;
    border-radius: 50%;
    object-fit: cover;
    margin: 6rem;
    box-shadow: 0 0 10px rgba(0, 128, 255, 0.6), 
    0 0 20px rgba(0, 128, 255, 0.6), 
    0 0 30px rgba(0, 128, 255, 0.6), 
    0 0 40px rgba(0, 128, 255, 0.6);
}
.about-text h2{
    font-size: 3rem;
    margin-right: 2rem;
}
.about-text h2 span{
    color:#0ef;
}
.about-text h4{
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin:15px 0 30px;
}
.about-text p{
  color: aliceblue;
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 3rem;
}
/* SKILL */
/* SKILL */
.sub-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 5rem;
}

.sub-title span {
    color: cyan;
    margin-left: 0.5rem;
}

.skill {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 1rem;
}

.container {
    width: 600px;
    padding: 75px 90px;
    margin: 20px;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 2rem;
}

.bar {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.Technical-bars .bar {
    margin-top: 2rem;
}

.Technical-bars .bar:first-child {
    margin-top: 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: 0;
}

.Technical-bars .bar .info {
    margin-bottom: 5px;
}

.Technical-bars .bar .info span {
    font-size: 0.75rem;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1, 0, 0, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1, 0, 0, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span {
    width: 90%;
}

.progress-line.css span {
    width: 80%;
}

.progress-line.javascript span {
    width: 85%;
}

.progress-line.react span {
    width: 75%;
}


/* Professional Skills Radial Bars */
 .container1 {
    margin-top: 5rem;
    margin-right: 8rem;
  }
  
  .heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 2rem;
  }
  
  .radial-bars-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  
  .radial-bars {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .radial-bars svg {
    width: 150px;
    height: 150px;
  }
  
  .radial-bars .percentage {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
  }
  
  .radial-bars .text {
    font-size: 1rem;
    margin-top: 0.25rem;
  }
  
  /* SVG Circle Animation */
   svg circle {
    fill: none;
    stroke-width: 10;
  }
  
  .progress-bar {
    stroke: rgba(255, 255, 255, 0.1);
  }
  
  .path {
    stroke: #0ef;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    animation: progress-animation 2s forwards;
  }
  
  .path-1 {
    animation-delay: 0.5s;
  }
  
  @keyframes progress-animation {
    from {
      stroke-dashoffset: 502;
    }
    to {
      stroke-dashoffset: calc(502 - (502 * var(--percentage) / 100));
    }
  }

 /* PROJECT */
 #projects {
    padding: 6rem 10rem;
    text-align: center;
}

.sub-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
    animation: fadeIn 1s ease-in-out;
}

.sub-title span {
    color: cyan;
    margin-left: 0.5rem;
}

.main-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    animation: fadeIn 1.5s ease-in-out;
}

.project {
    background-color: #112240;
    padding: 1.5rem;
    border-radius: 10px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    animation: slideUp 1s ease-in-out;
}

.project:hover {
    box-shadow:  0 0 10px rgba(0, 128, 255, 0.6), 
    0 0 20px rgba(0, 128, 255, 0.6), 
    0 0 30px rgba(0, 128, 255, 0.6), 
    0 0 40px rgba(0, 128, 255, 0.6);
}

.project img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
    animation: fadeIn 1.5s ease-in-out;
}

.project h3 {
    font-size: 1.5rem;
    color: cyan;
    margin-bottom: 0.5rem;
}

.project p {
    font-size: 1rem;
    color: #ccc;
}

.more-projects {
    text-align: center;
    margin-top: 3rem;
    animation: fadeIn 1s ease-in-out;
}

.more-projects button {
    background-color: #0ef;
    color: #081b29;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    animation: fadeIn 1s ease-in-out;
    box-shadow:0 0 5px #0ef,
    0 0 25px #0ef;;
}

.more-projects button:hover {
    background-color: #0bf;
    transform: scale(1.1);
    box-shadow:0 0 5px cyan,
    0 0 20px cyan,
    0 0 40px cyan,
    0 0 100px cyan;
}

#moreProjectsList {
    margin-top: 2rem;
    font-weight: 900;
    font-size: 1.25rem;
    animation: fadeIn 1.5s ease-in-out;
}

#moreProjectsList ul {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#moreProjectsList ul li {
    margin: 0.5rem 0;
}

#moreProjectsList a {
    text-decoration: none;
    color: #0ef;
    font-weight: 500;
    transition: color 0.3s ease;
}

#moreProjectsList a:hover {
    color: #00c3ff;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* CONTaCT */
#contact {
    padding: 6rem 10rem;
    text-align: center;
}

.sub-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
    animation: fadeIn 1s ease-in-out;
}

.sub-title span {
    color: cyan;
    margin-left: 0.5rem;
}

.contact-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    animation: fadeIn 1.5s ease-in-out;
}

.contact-item {
    background-color: #112240;
    padding: 1.5rem;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    animation: slideUp 1s ease-in-out;
}

.contact-item:hover {
    box-shadow: 0 0 30px rgba(105, 230, 236, 0.2), 0 0 40px rgba(49, 193, 236, 0.2), 0 0 50px rgba(242, 207, 31, 0.2);
}

.contact-item img {
    width: 60px;
    border-radius: 10px;
    margin-bottom: 1rem;
    animation: fadeIn 1.5s ease-in-out;
}

.contact-item h3 {
    font-size: 1.5rem;
    color: cyan;
    margin-bottom: 0.5rem;
}

.contact-item p {
    font-size: 1rem;
    color: #ccc;
}

.contact-item a {
    text-decoration: none;
    color: cyan;
    transition: color 0.3s ease;
}

.contact-item a:hover {
    color: #0bf;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


